h1= @partner.title
p= @partner.address
p= @partner.email
p= @partner.phone

p = link_to "Edit Partner", [:edit, @partner]
p = link_to "Delete Partner", @partner, method: :delete, data: { confirm: "Are you sure?" }